body{
    margin: 0px;
    background-color: aqua;
}

.title{
    text-align: center 
    
}

form {
   
    text-align: center;
    margin: 100px 0;
    padding: 50px;
    
}

input{
    border-radius: 20px;
    width: 15%;
    height: 30px;
}

span{
    color: red;
}

button{
    border-radius: 20px;
    width: 100px;
    margin-left: 200px;
}

button:hover {
    background-color: rgb(14, 57, 215);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form{
    display:block ;
}

.game{
    display: none ;
    justify-content: center;
    /* align-items: center; */
    
}

.charaf{
    z-index: 0;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
    
}



.grid-container {
    margin-top: 150px;

    z-index: 1;
    position: absolute;

    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
    width: 15%;
    
  }
  .grid-item {
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

  }

  

.square{
    background-color: bisque;
    width: 10%;
    
}